extends templates/layout/main-layout.pug

block content
    section
        .sd-container
            .sd-block.sd-hidden
            .sd-picker
                .sd-picker-item 1
                .sd-picker-item 2
                .sd-picker-item 3
                .sd-picker-item 4
                .sd-picker-item 5
                .sd-picker-item 6
                .sd-picker-item 7
                .sd-picker-item 8
                .sd-picker-item 9