
section.dishes-block
    .container
        .dishes-content
            .recipe__wrapp
                .recipe__time
                    p ready in
                    p 40
                    p mins Kopie