
.dishes-block {
    min-height: 100vh;
    background: url('../image/bg/dishes-bg.jpg') no-repeat center;

    .dishes-content {
        display: flex;
        min-height: 100vh;
        align-items: center;
        padding: 0 115px;

        .recipe__wrapp {
            position: relative;
            width: 90%;
            min-height: 520px;
            background-color: $color-main-bg;

            .recipe__time {
                position: absolute;
                top: -45px;
                right: -105px;
                width: 200px;
                height: 200px;
                background: $color-main-bg url('../image/icons/read-in.png') no-repeat center;
                background-size: cover;

            }
        }
    }
}


