
section.cakes-block
    .container
        .cakes-block__icon
        .row
            .column.large-6
                p Art of cakes we create delicious memories
                p Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
                p Chef Cook
                div
                    p Benito
                    p Gaspare
                p Unique creations for unique occasions.
            .column.large-6
                .cakes-pictures__wrapp
                    .cakes-pictures__icon
                        span tastes so good!
                    .cakes-pictures
                        .cakes-pictures__item
                            img(src="../image/content/cake1.jpg")
                        .cakes-pictures__item
                            img(src="../image/content/cake2.jpg")
                        .cakes-pictures__item
                            img(src="../image/content/cake3.jpg")
                        .cakes-pictures__item
                            img(src="../image/content/cake4.jpg")

