.tt-block {
    display: flex;
    flex-wrap: wrap;
    width: 90px;
}
.tic-item {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    &.full {
        cursor: default;
    }
}