.tt-block {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}
.tic-item {
    width: 70px;
    height: 70px;
    border: 1px solid lightgrey;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    &.full {
        cursor: default;
    }
}

.tic {
    width: 100px;
    height: 100px;

    circle {
        box-sizing: border-box;
        stroke: green;
        stroke-width: 5px;
        fill: transparent;
        stroke-dasharray: 180;
        animation: show 1s;
    }
}

.tac {
    stroke: green;
    stroke-width: 10px;
    fill: transparent;

    path:first-child {
        stroke-dasharray: 150;
        animation: showLine 0.5s;
    }

    path:last-child {
        stroke-dasharray: 150;
        animation-delay: .5s;
        animation: showLine .5s;
    }

}

@-webkit-keyframes show {
    from {
        stroke-dashoffset: 180;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes showLine {
    from {
        stroke-dashoffset: 150;
    }

    to {
        stroke-dashoffset: 0;
    }
}