$color-white: #ffffff;

$color-main-bg: #faf8f2;
$color-page-bg: #f3f1e9;
$color-header-bg: #9e9c93;

$color-main-font: #56534c;


.TASTES_SO__GOOD_ {
    color: rgb(201, 177, 118);
}
.READ {
    color: rgb(164, 125, 94);
}

.FULL_RECIPE {
    color: rgb(223, 198, 145);
    color: #979285;
}


$color-black: #000000;





