$color-blue-light: #00B7D9;
$color-blue: #0058EB;
$color-blue-dark: #03097A;
$color-red: #EB0000;
$color-red-dark: #791922;
$color-green: #8CC700;
$color-green-dark: #105905;
$color-olive: #768C27;
$color-pink-light: #F982A8;
$color-pink: #FF2E50;
$color-violet: #6300A4;
$color-beige: #F2E966;
$color-yellow-dark: #FFC600;
$color-orange: #FF710A;
$color-brown: #B06500;
$color-brown-dark: #412910;
$color-weight: #ffffff;
$color-grey-light: #AAAAAA;
$color-grey: #5C5C5C;
$color-black: #000000;