doctype html
html

    head
        meta(charset="UTF-8")
        title Link
        link(rel="shortcut icon" href="img/favicon.jpg" type="image/jpg")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="keywords" content="")
        meta(name="description" content="")
        link(rel="stylesheet" type="text/css" href="css/main.css")

    body
        section
            .tt-container
                .tt-column
                    .tt-block
                        .tic-item(data-value='0')
                        .tic-item(data-value='1')
                        .tic-item(data-value='2')
                        .tic-item(data-value='3')
                        .tic-item(data-value='4')
                        .tic-item(data-value='5')
                        .tic-item(data-value='6')
                        .tic-item(data-value='7')
                        .tic-item(data-value='8')
                        .tt-end
                    .tt-btn-restart Start again



script(src='/js/main.js')