doctype html
html

    head
        meta(charset="UTF-8")
        title Link
        link(rel="shortcut icon" href="img/favicon.jpg" type="image/jpg")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="keywords" content="")
        meta(name="description" content="")
        link(rel="stylesheet" type="text/css" href="css/main.css")

    body
        section
            .sg-container
                .sg-block
                    .tic-item(data-value='0' data-row='0' data-col='0')
                    .tic-item(data-value='1' data-row='0' data-col='1')
                    .tic-item(data-value='2' data-row='0' data-col='2')
                    .tic-item(data-value='3' data-row='1' data-col='0')
                    .tic-item(data-value='4' data-row='1' data-col='1')
                    .tic-item(data-value='5' data-row='1' data-col='2')
                    .tic-item(data-value='6' data-row='2' data-col='0')
                    .tic-item(data-value='7' data-row='2' data-col='1')
                    .tic-item(data-value='8' data-row='2' data-col='2')



script(src='/js/main.js')