.header {
    min-height: 100vh;
    background: url('../image/bg/header-bg.png') no-repeat center;
}

.nav {
    background-color: rgba(86, 83, 76, 0.5);
    height: 70px;

    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }
    .nav__item {
        font-size: 14px;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
}