
header.header
    nav.nav
        .container.nav__container
            a(href = "#").nav__item Welcome
            a(href = "#").nav__item Menu
            a(href = "#").nav__item Reservations
            a(href = "#").nav__item News
            a(href = "#").nav__item Contact